.search_container {
  @apply lg:flex   flex-wrap w-full justify-between items-center;
  @apply mt-10 mb-16;

  .search_container-input {
    @apply flex lg:mb-0 mb-6 justify-between w-4/5  lg:gap-8  gap-11;

    input[type="text"] {
      @apply w-full;
    }
  }
}
